body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("images/polka.jpg");  */
  background-size:cover;
    background-position:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thumbnail img {
  max-height:180px;
  max-width:100%;
}

.container_main {
  /* background-image: url("images/polka.jpg");
  background-size:cover;
    background-position:center; */
    /* padding-top:10px;
    padding-bottom:10px;
    min-height: 500px; */
}

.darken-with-text h1 {
  margin: 0;  
  text-align: center;
  color: white;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
